@import url('https://fonts.googleapis.com/css2?family=Big+Shoulders+Display:wght@700&family=Lexend+Deca&display=swap');

*{
	margin: 0;
	padding: 0;
}

body {
	background-color: hsl(0, 0%, 95%);
	font-size: 15px;
}

.container {
	display: flex;
    align-items: center;
	height: 97vh;
	
}

.content {
	display: flex;
	height: 30em;
	width: 70em;
	padding: 0 1em;
    margin: auto;
}

.card-sedan, .card-suv, .card-luxury {
	display: grid;
}

.info-sedan, .info-suv, .info-luxury {
	display: grid;
    padding-left: 2em;
    align-content: space-evenly;
}

h1 {
	font-family: 'Big Shoulders Display', cursive;
	font-size: 2em;
	text-transform: uppercase;
	color: hsl(0, 0%, 95%);
}

p {
	color: hsla(0, 0%, 100%, 0.75);
}

p, button {
	font-family: 'Lexend Deca', sans-serif;
}

button {
	background-color: rgb(255, 255, 255);
	width: 10em;
    border-radius: 20px;
}

.card-sedan {
	background-color: hsl(31, 77%, 52%);
}

.info-sedan > button {
	color: hsl(31, 77%, 52%);
}

.card-suv {
	background-color: hsl(184, 100%, 22%);
}

.info-suv > button {
	color: hsl(184, 100%, 22%);
}

.card-luxury {
	background-color: hsl(179, 100%, 13%);
}

.info-luxury > button {
	color: hsl(179, 100%, 13%);
}

footer {
	text-align: center;
}

footer > a {
	color: hsl(150, 93%, 40%);
	text-decoration: none;
}