@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@500;700&display=swap');

@import url('https://fonts.googleapis.com/css2?family=Fraunces:wght@700&display=swap');

*:root {
	/*Cores Primárias*/
	--button-e-price: hsl(158, 36%, 37%);
	--background: hsl(30, 38%, 92%);
	--footer: hsl(228, 100%, 48%);

	/*Cores Neutras*/
	--h1: hsl(212, 21%, 14%);
	--paragrafo: hsl(228, 12%, 48%);

	/*Fontes*/
	--font-titulo: 'Fraunces', serif;
	--font-paragrafo: 'Montserrat', sans-serif;
}

* {
	margin: 0;
	padding: 0;
}


body {
	background-color: var(--background);
	height: 100vh;
	display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

main {
	background-color: white;
	width: 38em;
	border-radius: 12px;
	display: flex;
}

picture {
	display: flex;
}

picture > img {
	width: 100%;
	border-top-left-radius: 12px;
	border-bottom-left-radius: 12px;
}

.content {
	width: 100%;
	margin: 1.3em;
}

h4, p, .old-price, button {
	font-family: var(--font-paragrafo);
	color: var(--paragrafo);
}

h1, .new-price {
	font-family: var(--font-titulo);
}

h4 {
	font-size: 13px;
	font-weight: 500;
	text-transform: uppercase;
	letter-spacing: 6px;
}

h1 {
	font-size: 2em;
	margin-top: 0.7em;
	margin-bottom: 0.7em;
}

p {
	font-size: 0.9em;
	line-height: 23px;
}

.price {
	margin-top: 1em;
	margin-bottom: 1.7em;
	display: flex;
	align-items: center;
}

.new-price {
	color: var(--button-e-price);
	font-size: 2em;
	margin-right: 0.7em;
}

.old-price {
	font-size: 14px;
	text-decoration: line-through;
}

button {
	background-color: var(--button-e-price);
	color: white;
	border: none;
	border-radius: 9px;
	width: 100%;
	height: 4em;
	display: flex;
    justify-content: center;
    align-items: center;
	cursor: pointer;
}

.txt-button {
	font-size: 14px;
	margin-left: 10px;
}

button:hover {
	background-color: hsl(158, 36%, 34%);
}

button:active {
	background-color: hsl(158, 37%, 27%);
}

footer {
	font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif, 'Arial Narrow', Arial, sans-serif;
	position: fixed;
    bottom: 0;
}

footer > a {
	color: var(--footer);
	text-decoration: none;
}

footer > a:hover {
	color: hsl(228, 100%, 32%);
	text-decoration: underline;
}

footer > a:active {
	color: hsl(229, 97%, 14%);
}



@media (max-width: 650px) {
	
}