@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@500;700&display=swap');

@import url('https://fonts.googleapis.com/css2?family=Fraunces:wght@700&display=swap');

*:root {
	/*Cores Primárias*/
	--button-e-price: hsl(158, 36%, 37%);
	--background: hsl(30, 38%, 92%);
	--footer: hsl(228, 45%, 44%);

	/*Cores Neutras*/
	--h1: hsl(212, 21%, 14%);
	--paragrafo: hsl(228, 12%, 48%);
}


body {
	background-color: var(--background);
}

h4 {
	color: var(--paragrafo);
	font-family: 'Montserrat', sans-serif;
	font-weight: 700;
	text-transform: uppercase;
	letter-spacing: 6px;
	margin-top: 0.6em;
	margin-bottom: 0.8em;
}

h1 {
	font-family: 'Fraunces', serif;
	font-size: 2em;
	margin: 0;
}

p {
	color: var(--paragrafo);
	font-family: 'Montserrat', sans-serif;
	font-weight: 500;
	line-height: 1.5em;
}

.price {

}

.new-price {
	color: var(--button-e-price);
	font-family: 'Fraunces', serif;
	font-size: 2em;
	font-weight: bold;
}

.old-price {
	font-family: 'Montserrat', sans-serif;
	color: var(--paragrafo);
	font-size: 13px;
	text-decoration: line-through;
}

button {
	background-color: var(--button-e-price);
	color: white;
	border: none;
	cursor: pointer;
	border-radius: 8px;
}

button:hover {
	background-color: hsl(158, 36%, 34%);
}

button:active {
	background-color: hsl(159, 36%, 25%);
}

footer {
	color: var(--footer);
	font-size: 11px; 
	text-align: center;
}

footer > a {
	color: hsl(228, 100%, 50%);
	text-decoration: none;
}

footer > a:hover {
	color: hsl(228, 98%, 38%);
	text-decoration: underline;
}



/*	Versão MOBILE	*/

@media (max-width: 600px) {

	body {
		display: flex;
		flex-direction: column;
	}

	main {
		background-color: white;
		width: 22em;
		margin: auto;
		border-radius: 15px;
	}

	picture > img {
		width: 100%;
		margin: auto;
		display: block;
		border-top-left-radius: 15px;
		border-top-right-radius: 15px;
	}

	.content {
		padding: 1em;
	}

	.price {
		display: flex;
		align-items: center;
		margin-bottom: 1em;
	}

	.new-price {
		margin-right: 0.8em;
	}

	button {
		width: 24em;
		padding: 1em;
	}

	.txt-cart {
		font-family: 'Montserrat', sans-serif;
		margin-left: 8px;
	}
}