@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@500;700&display=swap');

@import url('https://fonts.googleapis.com/css2?family=Fraunces:wght@700&display=swap');

*:root {
	/*Cores Primárias*/
	--button-e-price: hsl(158, 36%, 37%);
	--background: hsl(30, 38%, 92%);
	--footer: hsl(228, 45%, 44%);

	/*Cores Neutras*/
	--h1: hsl(212, 21%, 14%);
	--paragrafo: hsl(228, 12%, 48%);
}


picture > img {
	width: 100%;
	margin: auto;
	display: block;
}

body {
	background-color: var(--background);
}

h1 {
	font-family: 'Fraunces', serif;
}

p {
	color: var(--paragrafo);
	font-family: 'Montserrat', sans-serif;
	font-weight: 500;
}

h4 {
	color: var(--paragrafo);
	font-family: 'Montserrat', sans-serif;
	font-weight: 700;
	text-transform: uppercase;
	letter-spacing: 6px;
}

footer {
	color: var(--footer);
	font-size: 11px; 
	text-align: center;
}

button {
	background-color: var(--button-e-price);
	color: white;
	border: none;
}



/*	Versão MOBILE	*/

@media (max-width: 600px) {

	picture > img {
		border-top-left-radius: 15px;
		border-top-right-radius: 15px;
	}

	main {
		background-color: white;
		width: 24em;
		margin: auto;
		border-radius: 15px;
	}
}